{% macro photoGrid(images) %}
<div class="photo-grid">
    {% for image in images %}
    <img src="{{ image.src | url }}" alt="{{ image.alt }}" loading="lazy" data-lightbox>
    {% endfor %}
</div>
{% endmacro %}

{% macro videoGrid(sources) %}
<div class="video-grid">
    {% for item in sources %}
    <div class="media-card">
        <video controls preload="metadata" src="{{ item.src | url }}" poster="{{ item.poster | url }}"></video>
    </div>
    {% endfor %}
</div>
{% endmacro %}
