---
layout: base.njk
title: Amir Mano - Contact
description: Get in touch with Amir Mano via WhatsApp, email, LinkedIn, or other social links.
nav: contact
---
<section id="contact">
    <h2>Contact Me</h2>
    <p class="contact-intro">For research collaboration, email is the fastest way to reach me. For performances and music inquiries, WhatsApp works great too.</p>

    <div class="contact-primary">
        <a href="mailto:amirmano14@gmail.com">
            <img src="{{ '/images/icons/gmail.svg' | url }}" alt="" aria-hidden="true">
            Email
        </a>
    </div>

    <div class="contact-icon-grid">
        <a href="https://wa.me/+972543008582" class="icon-link">
            <span class="icon-circle"><img src="{{ '/images/icons/whatsapp.svg' | url }}" alt=""></span>
            WhatsApp
        </a>
        <a href="https://www.linkedin.com/in/amirmano/" class="icon-link" rel="me">
            <span class="icon-circle"><img src="{{ '/images/icons/linkedin.svg' | url }}" alt=""></span>
            LinkedIn
        </a>
        <a href="https://instagram.com/amirmano14" class="icon-link" rel="me">
            <span class="icon-circle"><img src="{{ '/images/icons/instagram.svg' | url }}" alt=""></span>
            Instagram
        </a>
        <a href="https://www.facebook.com/amir.mano.7/" class="icon-link" rel="me">
            <span class="icon-circle"><img src="{{ '/images/icons/facebook.svg' | url }}" alt=""></span>
            Facebook
        </a>
        <a href="https://x.com/AmirMano_" class="icon-link" rel="me">
            <span class="icon-circle"><img src="{{ '/images/icons/x.svg' | url }}" alt=""></span>
            X
        </a>
        <a href="https://bsky.app/profile/amirmano.bsky.social" class="icon-link" rel="me">
            <span class="icon-circle"><img src="{{ '/images/icons/bluesky.svg' | url }}" alt=""></span>
            Bluesky
        </a>
        <a href="https://www.duolingo.com/profile/amirmano" class="icon-link" rel="me">
            <span class="icon-circle"><img src="{{ '/images/icons/duolingo.svg' | url }}" alt=""></span>
            Duolingo
        </a>
    </div>
</section>
